<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quên mật khẩu</title>
    <link
      rel="icon"
      href="images/Binance_Logo.svg.png"
      class="icon-title"
      style="width: 100%; height: auto"
    />

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="css/index-giohang.css" />

    <script src="js/angular.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body ng-app="myapp">
    <!-- thanh menu -->
    <div class="container-fluid">
      <div class="row">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"
              ><img src="images/logo.png" alt=""
            /></a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a
                    class="nav-link active text-white bi bi-house"
                    aria-current="page"
                    href="index.html"
                  >
                    Trang chủ</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link text-white bi bi-layout-text-window-reverse position-relative"
                    href="#"
                  >
                    Bảng tin công nghệ
                    <span
                      class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                    >
                      +4</span
                    ></a
                  >
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle text-white"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Sản phẩm
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item text-white" href="#">Giá rẻ</a>
                    </li>
                    <li>
                      <a class="dropdown-item text-white" href="#">Bán chạy</a>
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                      <a
                        class="dropdown-item text-white position-relative"
                        href="#"
                        >Đang giảm giá
                        <span
                          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                        >
                          Hot</span
                        ></a
                      >
                    </li>
                  </ul>
                </li>
                <br />
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Bạn cần tìm gì?"
                  aria-label="Search"
                />
              </ul>
              <form class="d-flex" role="search">
                <a class="btn btn-outline-light"> Đăng nhập </a>
                <a class="btn btn-warning"> Đăng ký </a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle text-white bi bi-globe"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      VN
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item text-white" href="#">VN</a>
                      </li>
                      <li>
                        <a class="dropdown-item text-white" href="#">EN</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div ng-controller="myctrl">
      <div class="container">
        <!-- tabpane -->
        <div class="row login-form">
          <aside class="col-6 aside-contents">
            <h1 class="text-white text-center"><b>Khôi phục tài khoản</b></h1>
            <div class="bocthe">
              <div class="col mb-3 text-white email-input">
                <input
                  type="text"
                  class="form-control form-email"
                  id="email-focus"
                  placeholder="Email/Số điện thoại"
                  ng-model="inputEmail"
                />
                <br />
                  <span class="bi bi-info-circle"> Chúng tôi sẽ gửi mã xác nhận đến địa chỉ email/Số điện thoại của bạn</span>

                <div class="none-feedback" style="margin-top: -1px">hello</div>
              </div>

              <div class="row btn-next-container">
                <div class="col text-center">
                  <button
                    type="button"
                    class="btn btn-warning btn-next"
                    id="openTab-register"
                    ng-click="scopeNext()"
                    style="margin-top: 180px;"
                  >
                    Tiếp theo
                  </button>

                  <hr class="text-white" />
                  <span class="text-white"
                  >Trở về trang
                  <a
                    href="login.html"
                    id="login-id"
                    >Đăng nhập</a
                  >
                </span>
                  
                </div>
              </div>
            </div>
          </aside>
          <article class="col-6 article-contens">
            <span class="image-container">
              <h2 class="text-center">
                <b>Đừng lo lắng, chúng tôi sẽ giúp bạn...!</b>
              </h2>
              <b>Chỉ cần <span class="badge text-bg-warning">Điền các thông tin</span>
               theo hướng dẫn.</b>
              <span class="text-center"> </span>
              <img src="images/illustration-astro.png" alt="" />
            </span>
          </article>
          <!-- thông báo của toast khi đăng ký thành công -->
          <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div
              id="liveToast"
              class="toast custom-toast"
              role="alert"
              aria-live="assertive"
              aria-atomic="true"
            >
              <div class="toast-header">
                <img
                  src="images/Binance_Logo.svg.png"
                  class="rounded me-2"
                  style="width: 30px"
                />
                <strong class="me-auto">Thông báo</strong>
                <small>1 giây trước</small>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="toast"
                  aria-label="Close"
                  style="margin-top: 0px"
                ></button>
              </div>
              <div class="toast-body" id="toast-content">
                Thêm vào giỏ hàng thành công!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <footer class="row">
        <div class="card text-center">
          <div class="card-body">
            <p>FPT Polytechnic &copy; 2024. All rights reserved</p>
          </div>
        </div>
      </footer>
    </div>

    <script src="js/bootstrap.bundle.js"></script>
    <script src="js/poly.js"></script>
    <script src="js/login.js"></script>
    <script src="js/register-angularJS.js"></script>
  </body>
</html>
