<div class="col danhmuc-sp-container">
    <div class="danhmuc-sp-header">
      <h4><span class="bi bi-list-task"> DANH MỤC</span></h4>
    </div>
    <div class="col danhmuc-sp-item">
      <ul class="col">
        <li class="col">
          <div class="card card-item text-center">
            <img src="images/laptop.png" />
            <div class="card-body">
              <p class="card-text text-center">Laptop</p>
            </div>
          </div>
        </li>
        <li class="col">
          <div class="card card-item text-center">
            <img src="images/laptopgamming.png" />
            <div class="card-body">
              <p class="card-text text-center">Laptop gamming</p>
            </div>
          </div>
        </li>
        <li class="col">
          <div class="card card-item text-center">
            <img src="images/pcgamming.png" />
            <div class="card-body">
              <p class="card-text text-center">PC gamming</p>
            </div>
          </div>
        </li>
        <li class="col">
          <div class="card card-item text-center">
            <img src="images/manhinh.png" />
            <div class="card-body">
              <p class="card-text text-center">Màn hình</p>
            </div>
          </div>
        </li>
        <li class="col">
          <div class="card card-item text-center">
            <img src="images/ram.png" />
            <div class="card-body">
              <p class="card-text text-center">Linh kiện</p>
            </div>
          </div>
        </li>
        <li class="col">
          <div class="card card-item text-center">
            <img src="images/banphim.png" />
            <div class="card-body">
              <p class="card-text text-center">Bàn phím & chuột</p>
            </div>
          </div>
        </li>
        <li class="col">
          <div class="card card-item text-center">
            <img src="images/tainghe.png" />
            <div class="card-body">
              <p class="card-text text-center">Tai nghe</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>