<article class="col-6 article-contens flex-justify-center" >
    <span class="image-container">
      <h2 class="text-center">
        <b>Bắt đầu mua sắm an toàn!</b>
      </h2>
      <span class="text-center">
        <b>Cùng vô vàn ưu đãi giành cho thành viên mới!</b>
        <span
          id="createAccountButton"
          class="badge rounded-pill text-bg-warning span-taoTaiKhoan"
          >Tạo tài khoản ngay!</span
        >
      </span>
      <img src="images/illustration-astro.png" alt="" />
    </span>
  </article>